<h1 mat-dialog-title>Users eligible for survey</h1>
<div mat-dialog-content class="dialog">
  <mat-form-field appearance="fill">
    <mat-label>Min age</mat-label>
    <input matInput type="number" [(ngModel)]="min_age">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Max age</mat-label>
    <input matInput type="number" [(ngModel)]="max_age">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Location</mat-label>
    <mat-select [(ngModel)]="location">
      <mat-option [value]="'%'">All</mat-option>
      <div *ngFor="let city of locations">
        <mat-option [value]="city">{{city}}</mat-option>
      </div>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color='primary' (click)="onOkClick()" >Ok</button>

</div>